body{

    background-color: black;
    
}

.block{

    background-color: white;
   
    width: 100px;
    height: 100px;
    margin: 10px;

}
.inline{

    background-color: rgb(218, 78, 218);
    width: 200px;
    height: 200px;
    margin: 50px;
    padding: 50px;
display: inline-block;
}

.container{
    background-color: rgb(230, 143, 230);
    padding: 50px;
    display: flex;
height: 600px;
    /*tells main axis of contanier*/
    flex-direction: row-reverse;
    flex-wrap: wrap;
    /*main acess allignment for justify content*/
    justify-content:flex-end;
     align-items: flex-end;
     gap: 20px;
}

.item
{
    background-color: rgb(218, 78, 218);
    border:5px solid;
     border-color: blue;
    width: 150px;

}